<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

    <canvas id="game"></canvas>
    <p class="base-hud" id="fps">FPS: 0</p>

    <!-- HUD Element -->
    <div class="hud">
        <p>Test</p>
        
    </div>

    <div id="map" class="map"></div>

    <!-- Socket.IO CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <!-- Dein eigenes Skript -->
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
